<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org/DTD Mapper 3.0" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.guet.xiaomimall.mapper.orderpromapper">

    <insert id="addorderpro">
        INSERT INTO order_pro(orderid,pid,category) VALUE(#{orderid},#{pid},#{category})
    </insert>
    <delete id="delorpro">
        DELETE FROM order_pro WHERE orderid=#{orderid}
    </delete>
    <select id="select" resultType="java.lang.Integer">
        select count(*) as geshu FROM order_pro group by category;
    </select>
    <select id="selececateory" resultType="java.lang.String">
        select category FROM order_pro group by category;
    </select>
    <select id="seletebing" resultType="cn.edu.guet.xiaomimall.bean.catge">
        select count(*) as value,category as name from order_pro group by category
    </select>

</mapper>